a {
    text-align: left;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: black;
    background-color: rgb(241, 242, 246);
    padding: 5px; 
    border: 2px solid grey;
    border-radius: 10px 10px 10px 10px;
}

p {
    font-size: large;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    border-radius: 30px 30px 30px 30px;
    padding: 14px 16px;
    font-weight: bold;
}

#trainerInfo {
    background-color: rgb(247, 232, 232);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    float:right;
    cursor: pointer;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
    font-size: medium;
}

body {
    background-color: rgb(247, 232, 232);
    padding: 18%;
    border-radius: 10px 10px 10px 10px;
}

.nav {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}